<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!-- 処理結果メッセージ -->
  <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("Chocolate Journal", "/") %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("Chocolate Journalとは", "/about") %>
        </li>
        <li>
          <%= link_to("ログ一覧", "/posts/index") %>
        </li>
        <li>
          <%= link_to("新規ログ追加", "/posts/new") %>
        </li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
